.vscode*
.vscode/settings.json
*/.openshift_install.log
**/openshift-install
resources/certs
resources/openshift-installer-4.10
ansible/install-dir
ansible.orig
init-playbook*.json
tests/*.json
*.log
context/*
*.out
.vault_pass
*.tgz
00-ocp-test/install-dir
**/archive/
*.backup
*(copy)*
*-spec.cfg
