[defaults]
host_key_checking = False
stdout_callback = yaml
bin_ansible_callback = true
vault_password_file = ./.vault_pass
log_path = /runner/project/ansible-logs/ansible.log
# remote_tmp = /runner/projects/tmpdir
